.gestion-content {
  background-color: rgb(50, 48, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}
.gestion-container {
  width: 70%;
}
.gestion-title {
  padding-bottom: 30px;
  color: white;
}
.gestion-title h1 {
  font-size: 50px;
}
.gestion-title h1 .dorado {
  color: rgb(226, 147, 12);
  margin-left: 10px;
}
.gestion-list {
  display: flex;
  padding: 20px 0px;
}
.gestion-list > div {
  margin: 0px 20px;
}
.facebook,
.instagram {
  display: flex;
  color: white;
}
.content-fb,
.content-ig {
  padding-left: 15px;
}
.title-content-fb,
.title-content-ig {
  padding-bottom: 10px;
}
.paragraph-content-fb,
.paragraph-content-ig {
  line-height: 2.5;
  padding-bottom: 20px;
  text-align: justify;
}
/* RESPONSIVE */
@media (max-width: 1000px) {
  .gestion-container {
    width: 100%;
  }
  .gestion-list {
    flex-direction: column;
  }
  .gestion-list > div {
    margin: 20px 10px;
  }
  .content-fb,
  .content-ig {
    padding: 0px 5px;
  }
}
@media screen and (max-width: 800px) {
  .gestion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .gestion-title h1 {
    font-size: 15px !important;
  }
}
