.qsomos-container {
  background-image: linear-gradient(
      rgba(252, 251, 251, 0.849),
      rgba(252, 251, 251, 0.849)
    ),
    url("https://res.cloudinary.com/dni5cjwpu/image/upload/v1676644304/metrica/teamwork-3213924_1920_gnrqxh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}
.qsomos-content {
  width: 70%;
}

.content-qsomos {
  padding: 30px 10px;
}
.content-qsomos p {
  padding: 10px 0px;
  line-height: 2;
}
.Buttons-qsomos {
  display: flex;
  align-items: center;
}
.qsomos-buttons {
  margin-top: 20px;
  margin-right: 10px;
  width: 350px;
  height: 70px;
  padding: 10px;
  background-color: rgb(0, 161, 241);
  border: none;
  border-radius: 0.5em;
  font-size: 15px;
  font-family: "CustomFont";
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.qsomos-buttons a {
  color: white;
}
.qsomos-buttons:hover {
  border: 1px solid rgb(0, 161, 241);
  background-color: white;
  transition: 0.5s ease-in-out;
}
.qsomos-buttons:hover a {
  color: rgb(0, 161, 241);
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 650px) {
}
@media screen and (max-width: 500px) {
  .qsomos-content {
    width: 95%;
  }

  .Buttons-qsomos {
    flex-direction: column;
  }
  .Buttons-qsomos button {
    width: 70%;
  }
  .title-qsomos-content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
