a {
  text-decoration: none;
  color: black;
}
button {
  font-family: "CustomFont";
}
.icon-whatsapp {
  position: fixed;
  top: calc(100vh - 100px);
  left: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 2;
}
.action {
  width: 135px;
  padding: 8px 15px;
  text-align: right;
  background-color: rgb(47, 206, 70);
  color: white;
  border: 2px solid white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.action a {
  color: white;
  padding-left: 10px;
}
.images-icon-wpp {
  position: relative;
}
.images-icon-wpp a {
  position: absolute;
  top: -25px;
  left: -10px;
}

@media (max-height: 750px) {
  .icon-whatsapp {
    top: calc(100vh - 100px);
    left: 15px;
  }
}
@media (max-width: 450px) {
  .action {
    display: none;
  }
  .icon-whatsapp {
    top: calc(100vh - 50px);
    left: 15px;
  }
}

.title-white {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 70px;
}
.barra-white {
  height: 10px;
  background-color: white;
  width: 5%;
}
.barra-black {
  height: 10px;
  background-color: rgb(50, 48, 51);
  width: 5%;
}
.title-black {
  display: flex;
  flex-direction: column;
  color: rgb(50, 48, 51);
  font-size: 70px;
}
@media (max-width: 1202px) {
  .title-black,
  .title-white {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 760px) {
  .title-black,
  .title-white {
    font-size: 40px !important;
  }
  .barra-white {
    height: 5px;
    background-color: white;
    width: 5%;
  }
  .barra-black {
    height: 5px;
    background-color: rgb(50, 48, 51);
    width: 5%;
  }
}
@media screen and (max-width: 614px) {
  .title-black,
  .title-white {
    font-size: 30px !important;
  }
  .barra-white {
    height: 4px;
    background-color: white;
    width: 5%;
  }
  .barra-black {
    height: 4px;
    background-color: rgb(50, 48, 51);
    width: 5%;
  }
}
@media screen and (max-width: 500px) {
  .title-black,
  .title-white {
    font-size: 20px !important;
  }
}
