body {
  margin: 0;
  font-family: "CustomFont2";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "CustomFont";
  src: url("./Componentes/Fonts/Geometos.ttf");
}
h1 {
  font-family: "CustomFont";
}
@font-face {
  font-family: "CustomFont2";
  src: url("./Componentes/Fonts/open.ttf");
}
p {
  font-family: "CustomFont2";
}
